<!--  <form class="row g-3 mb-2 p-2">-->
<!--    <div class="col-auto">-->
<!--      <label class="visually-hidden">Add to watch list: </label>-->
<!--    </div>-->
<!--    <div class="col-auto">-->
<!--      <input type="text" class="form-control" id="text" placeholder="Movie">-->
<!--    </div>-->
<!--    <div class="col-auto">-->
<!--      <button type="submit" class="btn btn-primary mb-3">Add</button>-->
<!--    </div>-->
<!--  </form>-->


<!--  <div>-->
<!--  </div>-->

<app-add-movies></app-add-movies>
<app-movies></app-movies>
