<h4 style="text-align: center">Movies: </h4>

<ng-container *ngIf="!loading; else loadingSpinner">
  <app-movie
    *ngFor="let movie of movies"
    [movie]="movie"
  ></app-movie>
</ng-container>

<ng-template #loadingSpinner>
  <div *ngIf="loading" class="spinner-border">
    <span class="sr-only">Loading...</span>
  </div>
</ng-template>

