<form class="row g-3 mb-2 p-2 ml-3"  (ngSubmit)="sendMovieName()">
  <div class="col-auto">
    <label class="visually-hidden">Add to watch list: </label>
  </div>
  <div class="col-auto">
    <input type="text" class="form-control" id="name" placeholder="Movie"  name="name"  #nameInput >
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Add</button>
  </div>
</form>



