<div class="card mb-2 ml-3" >
  <div class="row no-gutters">
    <div class="col-sm-8">
      <div class="card-body">
        <h5 class="card-title">{{ movie.name }}</h5>
         <button type="submit" (click)="deleteFilm()" >X</button>
      </div>
    </div>
  </div>
</div>
